<p>
  listing-view works!
</p>
<div class="row">
  <div *ngFor="let viewItem of viewItems" class="col-md-3">
    <!-- <div class="col-md-3"> -->
        <div class="card view-item-card">
            <!-- <a [href]="viewItem.linkAddress" target="_blank"> -->
              <div class="card-header">{{ viewItem.title }}</div>
                <div class="card-body view-item-card-body">
                    <!-- <h5 class="card-title">{{ viewItem.title }}</h5> -->
                    <p class="card-text">{{ viewItem.description }}</p>
                    <a [href]="viewItem.linkAddress" target="_blank">Read More</a>
                  </div>
            <!-- </a> -->
          </div>
    <!-- </div> -->
    </div>
</div>

<!-- <div *ngFor="let viewItem of viewItems" class="card w-75 view-item-card">
    <div class="card-header">{{ viewItem.title }}</div>
      <div class="card-body view-item-card-body">
          <p class="card-text">{{ viewItem.description }}</p>
        </div>
</div> -->


<!-- <div class="card">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div> -->