/* .view-item-card {
    background-color: #efefef;
    border: none;
    margin: 1em auto 0 auto;
}
.view-item-card:hover {
    background-color: #2352AD;
}
.view-item-card a:hover {
    text-decoration: none;
}

.view-item-card-body {
    color: #2a2a2a;
}
.view-item-card-body:hover {
    color: white;
} */

.view-item-card {
    margin-top: 1em;
    min-width: 235px;
}