.carousel.slide:focus {
    outline: none !important;
}
.carousel-inner:focus {
    outline: none !important;
}
.carousel-inner img {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.carousel-item {
    text-align: center;
}

ngb-carousel a[role=button] span {
    background-color: white;
    width: 2em;
    height: 2em;
    border-radius: 1em;
}
#topStoriesCarouselElement .carousel-control-prev-icon {
    background-image: url("../../assets/left-arrow.png");
}
#topStoriesCarouselElement .carousel-control-next-icon {
    background-image: url("../../assets/right-arrow.png");
}

.carousel-caption {
    color: #555;
    z-index: 0;
    position: initial;
    margin: 0 auto;
}

#topStoryLink:hover {
    text-decoration: none;
}

#topStoriesCarouselElement {
    background-color: #eee;
}

.carousel-indicators { 
    bottom: 0;
}
.carousel-indicators li {
    background-color: #aaa;
}
.carousel-indicators li.active {
    background-color: #555;
}