<!doctype HTML>
<html>
	<head>
    <base href="/">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:900|Source+Sans+Pro:700" rel="stylesheet">
		<!-- Icons, particularly social media -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.0.0-19/css/ionicons.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
	</head>
	<body>
		<div id="sideNavigationBar">
			<div id="sideNavigationContent">
				<div><a href="/index">Home</a></div>
				<div><a href="/education">Education</a></div>
			</div>
		</div>
		<div id="mainContent">
			<nav id="mainNavbar" class="navbar navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavMenu" 
					aria-controls="mainNavMenu" aria-expanded="false" aria-label="Toggle navigation"
					(click)="toggleNavigationMenu()">
					<span class="navbar-toggler-icon"></span>
				</button>
			</nav>
			<div class="container">
				<div class="row">
					<div id="mainNavbarSpacingDiv"></div>
					<div id="mainSiteLogo" class="col-sm-8">
						<a class="logo-link" href="index.html">
							<span class="logo-text title-text logo-text-bold">why</span>
							<span class="logo-text title-text logo-text-secondary">quit</span>
							<span class="logo-text title-text logo-text-blue">?</span>
						</a>
					</div>
					<div id="whyquitLogoArea">
						<div class="top-nav-wrapper">
							<a class="circle-btn" href="http://whyquit.com" target="_blank"
								title="whyquit.com">
								<img id="whyquit-icon" [src]="whyquitIconSrc" />
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Individual page content in "router-outlet" -->
			<router-outlet></router-outlet>
			<div id="footerContainer" class="container">
				<div class="row">
					<div id="socialLogosArea" class="footer-row col-sm-4">
						<a class="social-link ion-logo-facebook" href="https://www.facebook.com/pages/Whyquitcom/108132829380969" target="_blank"></a>
						<a class="social-link ion-logo-twitter" href="https://twitter.com/whyquit_com" target="_blank"></a>
						<a class="social-link ion-logo-youtube" href="http://www.youtube.com/user/joelspitz/featured" target="_blank"></a>
					</div>
				</div>
				<div id="footerLinks" class="row">
					<div class="footer-row col-sm-4">
						<p><a href="http://whyquit.com/ContactUs.html" target="_blank">Contact WhyQuit</a></p>
						<p><a href="http://whyquit.com/Privacy.html" target="_blank">Privacy</a></p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>