#mainSiteLogo {
	text-align: center;
	margin: 0 auto;
	width: 13em;
	padding: 0;
}
.site-logo-area {
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto 1em auto;
}
#whyquitLogoArea {
	margin: 0 auto;
	z-index: 20;
}

.logo-text {
	font-size: 3em;
}
.logo-text-bold {
	font-weight: bold;
}
.logo-text-secondary {
	color: #999;
}
.logo-text-blue {
	/* color: #2352AD; */
	color: #999;
}

.logo-link:hover {
	text-decoration: none;
	color: #007bff;
}

#mainNavbar {
	position: fixed;
	margin: 0.5em 0 0 0.5em;
	z-index: 21;
}
#mainNavbar > button {
	background-color: white;
}
#mainNavbarSpacingDiv {
	width: 88px;
    height: 56px;
    margin: 0.5em 0 0 0.5em;
}


.circle-btn {
	display: block;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0.75em;
}
.circle-btn:hover {
	background-color: #ccc;
}
#whyquit-icon {
	width: 2.3em;
    height: 2.4em;
    padding-top: 0.5em;
    padding-left: 0.4em;
}

.top-nav-wrapper {
	margin: 0 auto;
	max-width: 5em;
}

#socialLogosArea {
	font-size: 2.5em;
	min-width: 250px;
}
.social-link {
	padding: 0.25em;
	cursor: pointer;
	color: black;
}
.social-link:hover {
	color: #007bff !important;
}
.social-link:visited {
	color: black;
}

#footerContainer {
	margin-top: 1em;
}
.footer-row {
	margin: 0 auto;
	text-align: center;
}
#footerLinks {
	padding: 0.25em 0 1em 0;
}
#footerLinks p {
	margin-bottom: 0;
}

#sideNavigationBar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	background-color: #007bff;
	overflow-x: hidden;
	transition: 0.5s;
}
#sideNavigationContent {
	margin-top: 5em;
    margin-left: 2em;
    color: white;
    width: 250px;
}
#sideNavigationContent div {
	margin: 0.5em 0 0 0.5em;
}
#sideNavigationContent a {
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}

@media screen and (min-width: 420px) {
	#whyquitLogoArea {
		margin: 0 auto;
		position: fixed;
		right: 1em;
		z-index: 20;
	}
}