<div class="container-fluid">
        <top-stories-carousel id="topStoriesCarousel" [topStories]="topStories"></top-stories-carousel>
</div>
<div class="container">
    <ul id="secondaryStoriesList" class="list-group list-group-flush">
        <secondary-story *ngFor="let secondaryStory of secondaryStories"
        [title]="secondaryStory.title" [description]="secondaryStory.description" [linkAddress]="secondaryStory.linkAddress">
        </secondary-story>
    </ul>
</div>
<div id="diedTooYoungContainer" class="container-fluid">
    <div id="diedTooYoungHeader">
        <span class="title-text">they died too young...</span>
    </div>
    <div *ngFor="let rowNumber of getVictimCardRowNumbers()" class="row image-cards-row w-75">
        <victim-card *ngFor="let victim of getVictimsForRow(rowNumber)" class="col-sm-4 victim-card"
            [name]="victim.name" [age]="victim.age" [imageFilename]="victim.imageFilename" [linkAddress]="victim.linkAddress"></victim-card>
    </div>
</div>
<div id="categoriesContainer" class="container">
    <div class="row">
        <div class="col-sm-5 category-card left-category-card">
            <a href="/education" class="category-card-header">Education</a>
            <hr />
            <ul class="category-card-list">
                <li><a class="category-card-link" href="http://whyquit.com/joel#video" target="_blank">Quitting: video lessons</a></li>
                <li><a class="category-card-link" href="http://whyquit.com/whyquit/A_Symptoms.html" target="_blank">Withdrawal symptoms</a></li>
                <li><a class="category-card-link" href="http://whyquit.com/Tips2007.pdf" target="_blank">Tips for recovery</a></li>
            </ul>
        </div>
        <div class="col-sm-5 category-card right-category-card">
            <span class="category-card-header">Resources</span>
            <hr />
            <ul class="category-card-list">
                <li><a class="category-card-link" href="http://whyquit.com/whyquit/turkeys.html" target="_blank">Ex-smoker messages</a></li>
            </ul>
        </div>
    </div>
</div>